[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=  /home/ec2-user/greenery-django-backend/myvenv/bin/uwsgi -i /home/ec2-user/greenery-django-backend/backend/.config/uwsgi/greenery.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
